統計量の求め方を

In [4]:
import pandas as pd
import seaborn as sns

In [30]:
df = sns.load_dataset('tips')
#df.head(5)
#df[df['sex'] == 'Male'].mean(numeric_only=True)

total_bill    20.744076
tip            3.089618
size           2.630573
dtype: float64

In [6]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [7]:
df.corr(numeric_only=True)

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [8]:
df.mean(numeric_only=True)

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [10]:
df['total_bill'].mean()

np.float64(19.78594262295082)

In [31]:
#df(df['sex'=='Male'])
df[df['sex'] == 'Male'].mean(numeric_only=True)

total_bill    20.744076
tip            3.089618
size           2.630573
dtype: float64

In [35]:
df.std(numeric_only=True)

total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64

In [36]:
df['total_bill'].std(numeric_only=True)

8.902411954856856

In [40]:
import numpy as np

In [37]:
df['total_bill'].max()

50.81

In [38]:
df_var = df['total_bill'].var()

In [46]:
float(np.sqrt(df_var))
#int(np.sqrt(df_var))

8.902411954856856

In [45]:
int(np.sqrt(df_var))

8

Max and Min

In [48]:
df.max(numeric_only=True)

total_bill    50.81
tip           10.00
size           6.00
dtype: float64

In [49]:
df.min(numeric_only=True)

total_bill    3.07
tip           1.00
size          1.00
dtype: float64

In [50]:
df.sum(numeric_only=True)

total_bill    4827.77
tip            731.58
size           627.00
dtype: float64

In [56]:
df['tip'].sum()

np.float64(731.5799999999999)

In [57]:
int(df['tip'].sum())

731

In [58]:
df[df['day'] == 'Sun']['total_bill'].sum()

np.float64(1627.16)

In [59]:
int(df[df['day']=='Sun']['total_bill'].sum())

1627

In [60]:
df.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [ ]:
#df.nan()