# NumPy Fundamentals

### 1. Run the following cells:

In [3]:
import numpy as np

In [4]:
array_1D = np.array([10,11,12,13, 14])
array_1D

array([10, 11, 12, 13, 14])

In [6]:
array_2D = np.array([[20,30,40,50,60], [43,54,65,76,87], [11,22,33,44,55]])
array_2D

array([[20, 30, 40, 50, 60],
       [43, 54, 65, 76, 87],
       [11, 22, 33, 44, 55]])

In [5]:
array_3D = np.array([[[1,2,3,4,5], [11,21,31,41,51]], [[11,12,13,14,15], [51,52,53,54,5]]])
array_3D

array([[[ 1,  2,  3,  4,  5],
        [11, 21, 31, 41, 51]],

       [[11, 12, 13, 14, 15],
        [51, 52, 53, 54,  5]]])

### 2. Display the first element (not necessarily individual element) for each of the 3 arrays we defined above.

In [7]:
array_1D[0]

np.int64(10)

In [8]:
array_2D[0]

array([20, 30, 40, 50, 60])

In [9]:
array_3D[0]

array([[ 1,  2,  3,  4,  5],
       [11, 21, 31, 41, 51]])

### 3. Call the first individual element of the each of the 3 arrays.

In [10]:
array_1D[0]

np.int64(10)

In [11]:
array_2D[0,0]
#array_2D[0][0]

np.int64(20)

In [12]:
array_3D[0,0,0]
#array_3D[0][0][0]
#array_3D[0,0][0]
#array_3D[0][0,0]

np.int64(1)

### 4. Uses negative indices to display the last element of each array.

In [13]:
array_1D[-1]

np.int64(14)

In [14]:
array_2D[-1]

array([11, 22, 33, 44, 55])

In [15]:
array_3D[-1]

array([[11, 12, 13, 14, 15],
       [51, 52, 53, 54,  5]])

### 5. Set the penultimate (second-to-last) <i> individual </i> element of each array equal to 10. Then display the variables to check your work.
(<b>Hint</b>: If it's the penultimate individual element of the 2-D/3-D array, it needs to be in the last row of the 2-D array)

In [16]:
array_1D[-2] = 10
array_1D

array([10, 11, 12, 10, 14])

In [17]:
array_2D[-1,-2] = 10
array_2D

array([[20, 30, 40, 50, 60],
       [43, 54, 65, 76, 87],
       [11, 22, 33, 10, 55]])

In [18]:
array_3D[-1,-1,-2] = 10
array_3D

array([[[ 1,  2,  3,  4,  5],
        [11, 21, 31, 41, 51]],

       [[11, 12, 13, 14, 15],
        [51, 52, 53, 10,  5]]])

### 6. Set the last column of the 2-D array to 100. Then display the variables to check your work.

In [19]:
array_2D[:,-1] = 100
array_2D

array([[ 20,  30,  40,  50, 100],
       [ 43,  54,  65,  76, 100],
       [ 11,  22,  33,  10, 100]])

### 7. Set all the values of the 3-D array to 1000. Then display the variables to check your work.

In [20]:
array_3D[:] = 1000
array_3D

array([[[1000, 1000, 1000, 1000, 1000],
        [1000, 1000, 1000, 1000, 1000]],

       [[1000, 1000, 1000, 1000, 1000],
        [1000, 1000, 1000, 1000, 1000]]])

### 8. Run the next 3 cells to re-define the 3 arrays, since we altered their contents.

In [21]:
array_1D = np.array([10,11,12,13,14])
array_1D

array([10, 11, 12, 13, 14])

In [22]:
array_2D = np.array([[20,30,40,50,60], [43,54,65,76,87], [11,22,33,44,55]])
array_2D

array([[20, 30, 40, 50, 60],
       [43, 54, 65, 76, 87],
       [11, 22, 33, 44, 55]])

In [23]:
array_3D = np.array([[[1,2,3,4,5], [11,21,31,41,51]], [[11,12,13,14,15], [51,52,53,54,5]]])
array_3D

array([[[ 1,  2,  3,  4,  5],
        [11, 21, 31, 41, 51]],

       [[11, 12, 13, 14, 15],
        [51, 52, 53, 54,  5]]])

### 9. Add 2 to every element of the 3 arrays without overwriting their values.

In [24]:
array_1D + 2

array([12, 13, 14, 15, 16])

In [25]:
array_2D + 2

array([[22, 32, 42, 52, 62],
       [45, 56, 67, 78, 89],
       [13, 24, 35, 46, 57]])

In [ ]:
array_3D + 2

array([[[ 3,  4,  5,  6,  7],
        [13, 23, 33, 43, 53]],

       [[13, 14, 15, 16, 17],
        [53, 54, 55, 56,  7]]])

### 10. Multiply the values of each array by 100 without overwriting their values.

In [26]:
array_1D * 100

array([1000, 1100, 1200, 1300, 1400])

In [27]:
array_2D * 100

array([[2000, 3000, 4000, 5000, 6000],
       [4300, 5400, 6500, 7600, 8700],
       [1100, 2200, 3300, 4400, 5500]])

In [28]:
array_3D * 100

array([[[ 100,  200,  300,  400,  500],
        [1100, 2100, 3100, 4100, 5100]],

       [[1100, 1200, 1300, 1400, 1500],
        [5100, 5200, 5300, 5400,  500]]])

### 11. Add up <i>array_1D</i> and the first row of <i>array_2D</i>

In [29]:
array_1D + array_2D[0]

array([30, 41, 52, 63, 74])

### 12. Find the product of <i>array_1D</i> and the first row of <i>array_2D</i>

In [30]:
array_1D * array_2D[0]

array([200, 330, 480, 650, 840])

### 13. Find the product  of the first row of <i>array_2D</i> and the first row of the first array of <i> array_3D </i>

In [31]:
array_2D[0] * array_3D[0, 0]

array([ 20,  60, 120, 200, 300])

### 14. Subtract <i> array_1D </i> from the first row of <i>array_2D</i>

In [32]:
array_2D[0] - array_1D

array([10, 19, 28, 37, 46])

### 15. Subtract the first row of <i>array_2D</i> from  <i> array_1D </i>

In [33]:
array_1D - array_2D[0]

array([-10, -19, -28, -37, -46])

### 16. Alter the code in the next 3 cells to re-define the 3 arrays as the following datatypes:
    A) array_1D -> NumPy Strings
    B) array_2D -> Complex Numbers
    C) array_3D -> 64-bit Floats
    
   (<b>Hint</b>: The datatypes are the following: <i>np.str</i>, <i>np.complex</i>, <i>np.float64</i>)

In [47]:
array_1D = np.array([10,11,12,13,14], dtype = np.str_) # need to change np.str to np.str_
array_1D

array(['10', '11', '12', '13', '14'], dtype='<U2')

In [45]:
array_2D = np.array([[20,30,40,50,60], [43,54,65,76,87], [11,22,33,44,55]], dtype = np.complex128) # np.complex to np.complex128
array_2D

array([[20.+0.j, 30.+0.j, 40.+0.j, 50.+0.j, 60.+0.j],
       [43.+0.j, 54.+0.j, 65.+0.j, 76.+0.j, 87.+0.j],
       [11.+0.j, 22.+0.j, 33.+0.j, 44.+0.j, 55.+0.j]])

In [37]:
array_3D = np.array([[[1,2,3,4,5], [11,21,31,41,51]], [[11,12,13,14,15], [51,52,53,54,5]]], dtype = np.float64)
array_3D

array([[[ 1.,  2.,  3.,  4.,  5.],
        [11., 21., 31., 41., 51.]],

       [[11., 12., 13., 14., 15.],
        [51., 52., 53., 54.,  5.]]])

### 17. Now run the next 3 cells to re-define the 3 arrays as 32-bit floats, since we want to run some more computations on them

In [38]:
array_1D = np.array([10,11,12,13,14], dtype = np.float32)
array_1D

array([10., 11., 12., 13., 14.], dtype=float32)

In [ ]:
array_2D = np.array([[20,30,40,50,60], [43,54,65,76,87], [11,22,33,44,55]], dtype = np.float32)
array_2D

array([[20., 30., 40., 50., 60.],
       [43., 54., 65., 76., 87.],
       [11., 22., 33., 44., 55.]], dtype=float32)

In [ ]:
array_3D = np.array([[[1,2,3,4,5], [11,21,31,41,51]], [[11,12,13,14,15], [51,52,53,54,5]]], dtype = np.float32)
array_3D

array([[[ 1.,  2.,  3.,  4.,  5.],
        [11., 21., 31., 41., 51.]],

       [[11., 12., 13., 14., 15.],
        [51., 52., 53., 54.,  5.]]], dtype=float32)

### 18. Use broadcasting to subtract  <i>array_1D</i> from every row of <i> array_2D </i>
   (<b>Hint</b>: You **don't** need a function to do this.)

In [39]:
array_2D - array_1D

array([[10., 19., 28., 37., 46.],
       [33., 43., 53., 63., 73.],
       [ 1., 11., 21., 31., 41.]])

### 19. Use broadcasting to divide all rows of <i>array_3D</i> by <i> array_1D </i>

In [40]:
array_3D / array_1D

array([[[0.1       , 0.18181818, 0.25      , 0.30769231, 0.35714286],
        [1.1       , 1.90909091, 2.58333333, 3.15384615, 3.64285714]],

       [[1.1       , 1.09090909, 1.08333333, 1.07692308, 1.07142857],
        [5.1       , 4.72727273, 4.41666667, 4.15384615, 0.35714286]]])

### 19. Use broadcasting to find the product of all rows of <i>array_3D</i>  and the last row of <i> array_2D </i>

In [41]:
array_3D * array_2D[-1]

array([[[  11.,   44.,   99.,  176.,  275.],
        [ 121.,  462., 1023., 1804., 2805.]],

       [[ 121.,  264.,  429.,  616.,  825.],
        [ 561., 1144., 1749., 2376.,  275.]]])

### 20. Since these products are all integers, let's cast them as such
   (<b>Hint</b>: You can use the np.array() function here)

In [42]:
np.array(array_3D * array_2D[-1], dtype = np.int32)

array([[[  11,   44,   99,  176,  275],
        [ 121,  462, 1023, 1804, 2805]],

       [[ 121,  264,  429,  616,  825],
        [ 561, 1144, 1749, 2376,  275]]], dtype=int32)

### 21. Let's use axis argument of the np.mean() function to find the mean for every column of the 2-D array

In [43]:
np.mean(array_2D, axis = 0)

array([24.66666667, 35.33333333, 46.        , 56.66666667, 67.33333333])

### 22. Let's use axis argument of the np.mean() function to find the mean for every column of the 3-D array
   (<b>Hint</b>: Make sure you define the correct axis.)

In [44]:
np.mean(array_3D, axis = 1)

array([[ 6. , 11.5, 17. , 22.5, 28. ],
       [31. , 32. , 33. , 34. , 10. ]])